body {
  margin: 0;
  overflow: hidden;
  background-color: #f0f5ff;
}

.anuncio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("karsten-winegeart-yz7nEZ9100I-unsplash.jpg");
  background-size: cover;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 1s; /* Agrega una transición suave */
  font-family: "Inter";
  font-size: 22px;
}

.anuncio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.contenido {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(66, 135, 245, 0.7);
  padding: 20px;
  color: #fff;
}
